.row {
    border-top: 1px solid #2e2e2e;
  }
  
  .hour {
    background-color: #a7a7a7;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #f14b4b;
    color: #2e2e2e;
    border-radius: 15px;
  }
  
  .present {
    background-color: #f1c35e;
    color: #2e2e2e;
    border-radius: 15px;
  }
  
  .future {
    background-color: #77dd77;
    color: #2e2e2e;
    border-radius: 15px;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #2826a5;
    color: rgb(180, 180, 180);
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  #banner {
    background-color: aqua;
    border: 5px rgb(3, 31, 11);
  }

  .img0 {
    border-radius: 15px;
    display: flexbox;
  }

  .img1{
    border-radius: 15px;
    display: flexbox;
  }

.img2{
  border-radius: 15px;
  display: flexbox;
}

  textarea {
    background: transparent;
    border: none;
    padding: 10px;
    resize: none;
  }

  body {
    background-color: #2e2e2e;
  }